@*@{ Layout = "~/Views/Shared/_Layout.cshtml"; }*@

<div class="wrapper">
    <div class="checkout container">

        <header>
            <h1>Hi, <br>Let's test a transaction</h1>
            <p>
                Make a test payment with Braintree using PayPal or a card
            </p>
        </header>

        <form id="payment-form" method="post" action="/checkouts">
            <section>
                <label for="amount">
                    <span class="input-label">Amount</span>
                    <div class="input-wrapper amount-wrapper">
                        <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="10">
                    </div>
                </label>

                @*<div class="bt-drop-in-wrapper">
                        <div id="bt-dropin"></div>
                    </div>*@
                <label for="card-number"></label>
                <div id="card-number"></div>


                <label for="expiration-month"></label>
                <div id="expiration-month"></div>

                <label for="expiration-year"></label>
                <div id="expiration-year"></div>
                <label for="cvv"></label>
                <div id="cvv"></div>
            </section>

            <input id="nonce" name="payment_method_nonce" type="hidden" />
            <input id="paymentType" name="payment_type" type="hidden" />
            <input id="lastFour" name="last_four" type="hidden" />
            <input id="cardType" name="card_type" type="hidden" />
            <input id="details" name="details" type="hidden" />
            <input id="billingAddress" name="billingAddress" type="hidden"/>
            <button class="button" type="submit"><span>Test Transaction</span></button>

            <section>
                <div id="paypal-button"></div>
            </section>

            <section id="google-pay-container">

            </section>
        </form>
    </div>
</div>

@*<script src="https://js.braintreegateway.com/web/dropin/1.22.1/js/dropin.min.js"></script>*@
<script src="https://pay.google.com/gp/p/js/pay.js"></script>
<script src="https://www.paypalobjects.com/api/checkout.js" data-version-4 log-level="warn"></script>
<script src="https://js.braintreegateway.com/web/3.60.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.60.0/js/hosted-fields.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.60.0/js/paypal-checkout.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.60.0/js/google-payment.min.js"></script>
<script>
    const client_token = "@ViewBag.ClientToken";
    const form = document.querySelector('#payment-form');

    const shippingAddress = {
        line1: "3120 Johnson Ave.",
        city: "Ypsilanti",
        state: "MI",
        postalCode: "48197",
        countryCode: "US",
        phone: "3134585555",
        recipientName: "John Doe"
    };

    braintree.client.create({
        authorization: client_token
    }, function (clientErr, clientInstance) {
        console.log(clientErr, clientInstance);

        if (clientErr) return;

        const options = {
            client: clientInstance,
            fields: {
                number: {
                    selector: '#card-number',
                    placeholder: '4111 1111 1111 1111'
                },
                cvv: {
                    selector: '#cvv',
                    placeholder: '***',
                    type: 'password'
                },
                expirationMonth: {
                    selector: '#expiration-month',
                    placeholder: 'MM',
                    select: {
                        options: [
                            '01',
                            '02',
                            '03',
                            '04',
                            '05',
                            '06',
                            '07',
                            '08',
                            '09',
                            '10',
                            '11',
                            '12'
                        ]
                    }
                },
                expirationYear: {
                    selector: '#expiration-year',
                    placeholder: 'YYYY',
                    select: true
                }
            }
            };

        braintree.hostedFields.create(options, function (createErr, hostedFieldsInstance) {
            if (createErr) return;
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                console.log(hostedFieldsInstance);
                hostedFieldsInstance.tokenize(function (err, payload) {
                    if (err) {
                        console.log('Error', err);
                        return;
                    }
                    console.log(payload);
                    // Add the nonce to the form and submit
                    document.querySelector('#nonce').value = payload.nonce;
                    document.querySelector("#paymentType").value = "CreditOrDebitCard";
                    document.querySelector("#lastFour").value = payload.details.lastFour;
                    document.querySelector("#cardType").value = payload.details.cardType;
                    //vonsole.log(document.querySelector("#cvv")., document.querySelector("#cvv_value").value);
                    //document.querySelector("#cvv_value").value = document.querySelector("#cvv").value;
                    form.submit();
                });
            });
        });

        const paypalOptions = {
            flow: 'vault',
            intent: 'capture',
            enableShippingAddress: true,
            shippingAddressEditable: false,
            shippingAddressOverride: shippingAddress,
            amount: "1.65",
            shippingOptions: [
                {
                    id: 'fedex-ground',
                    type: 'SHIPPING',
                    label: 'Ground Shipping',
                    selected: true,
                    amount: {
                        value: '1.00',
                        currency: 'USD'
                    }
                },
                {
                    id: 'fedex-priority',
                    type: 'SHIPPING',
                    label: '1-Day Shipping',
                    selected: false,
                    amount: {
                        value: '10.00',
                        currency: 'USD'
                    }
                }
            ],
            lineItems: [
                {
                    quantity: "1",
                    unitAmount: "1.56",
                    name: "8T4191 Test Bolt",
                    kind: "debit",
                    unitTaxAmount: "0.09",
                    description: "A cool test bolt to test things with.",
                    productCode: "8T4191-TEST",
                    url: "testurl"
                }
            ],
                        // Your PayPal options here. For available options, see
                        // http://braintree.github.io/braintree-web/current/PayPalCheckout.html#createPayment
        };

        braintree.paypalCheckout.create({
            client: clientInstance
        }, function (paypalCheckoutErr, paypalCheckoutInstance) {
                if (paypalCheckoutErr) {
                    console.error('Error creating PayPal Checkout:', paypalCheckoutErr);
                    return;
                }

                paypal.Button.render({
                    env: 'sandbox',

                    payment: function () {
                        return paypalCheckoutInstance.createPayment(paypalOptions);
                    },

                    onAuthorize: function (data, actions) {
                        return paypalCheckoutInstance.tokenizePayment(data, function (err, payload) {
                            console.log(payload);
                            //Submit the 'payload.nonce' to your server.
                            document.querySelector('#nonce').value = payload.nonce;
                            document.querySelector("#paymentType").value = payload.type;
                            document.querySelector("#details").value = JSON.stringify(payload.details);
                            form.submit();
                        });
                    },

                    onCancel: function (data) {
                        console.log('checkout.js payment cancelled', JSON.stringify(data, 0, 2));
                    },

                    onError: function (err) {
                        console.error('checkout.js error', err);
                    }
                }, '#paypal-button').then(function () {
                    // The PayPal button will be rendered in an html element with the id
                    // `paypal-button`. This function will be called when the PayPal button
                    // is set up and ready to be used.
                });
        });

            const paymentsClient = new google.payments.api.PaymentsClient({ environment: 'TEST' });

            const googleOptions = {
                client: clientInstance,
                googlePayVersion: 2
            };

            let PayPalPaymentMethod = {
                "type": "PAYPAL",
                "parameters": {
                    "purchase_context": {
                        "purchase_units": [{
                            "payee": {
                                "merchant_id": " paypal_merchant_id"
                            }
                        }]
                    }
                }
            };

            let creditCardMethods = {
                "type": "CARD",
                "parameters": {
                    "allowedAuthMethods": ["PAN_ONLY", "CRYPTOGRAM_3DS"],
                    "allowedCardNetworks": ["AMEX", "DISCOVER", "INTERAC", "JCB", "MASTERCARD", "VISA"]
                }
            };

            braintree.googlePayment.create(googleOptions, function (err, googlePaymentInstance) {
                const isReadyToPayOptions = {
                    apiVersion: 2,
                    apiVersionMinor: 0, 
                    allowedPaymentMethods: googlePaymentInstance.createPaymentDataRequest().allowedPaymentMethods,
                    existingPaymentMethodRequired: true
                };
                paymentsClient.isReadyToPay(isReadyToPayOptions).then(function (isReadyToPay) {
                    if (isReadyToPay.result) {
                        const googlePayButton = paymentsClient.createButton({
                            onClick: (e) => {
                                e.preventDefault();
                                const paymentDataRequest = googlePaymentInstance.createPaymentDataRequest({
                                    transactionInfo: {
                                        currencyCode: 'USD',
                                        totalPriceStatus: 'FINAL',
                                        totalPrice: '100.00'
                                    }
                                });
                                const cardPaymentMethod = paymentDataRequest.allowedPaymentMethods[0];
                                cardPaymentMethod.parameters.billingAddressRequired = true;
                                cardPaymentMethod.parameters.billingAddressParameters = {
                                    format: "FULL",
                                    phoneNumberRequired: true
                                };
                                //PayPalPaymentMethod.tokenizationSpecification = {
                                //    "type": "DIRECT"
                                //};

                                //todo: figure out why this doesn't work
                                //cardPaymentMethod.parameters.shippingOptionRequired = true;
                                //cardPaymentMethod.parameters.shippingOptionParameters = [
                                //    {
                                //        defaultSelectedOptionId: "0",
                                //        shippingOptions: [
                                //            {
                                //                "id": "shipping-001",
                                //                "label": "$0.00: Free shipping",
                                //                "description": "Free Shipping delivered in 5 business days."
                                //            },
                                //            {
                                //                "id": "shipping-002",
                                //                "label": "$1.99: Standard shipping",
                                //                "description": "Standard shipping delivered in 3 business days."
                                //            },
                                //            {
                                //                "id": "shipping-003",
                                //                "label": "$1000: Express shipping",
                                //                "description": "Express shipping delivered in 1 business day."
                                //            }
                                //        ]
                                //    }
                                //];
                                paymentsClient.loadPaymentData(paymentDataRequest).then(function (paymentData) {
                                    googlePaymentInstance.parseResponse(paymentData, function (err, result) {
                                        if (err) {
                                            console.log(err);
                                            // Handle parsing error
                                        }
                                        if (result) {
                                            document.querySelector('#nonce').value = result.nonce;
                                            document.querySelector("#paymentType").value = result.type;
                                            document.querySelector("#details").value = JSON.stringify(result.details);
                                            document.querySelector("#billingAddress").value = JSON.stringify(paymentData.paymentMethodData.info.billingAddress);
                                            form.submit();
                                        }
                                        // result.type may be either "AndroidPayCard" or "PayPalAccount"
                                    });
                                }).catch(function (err) {
                                    console.log(err);
                                });
                            }});
                        document.getElementById('google-pay-container').appendChild(googlePayButton);
                    }
                });
            });
    });
</script>
<script src="/App_Themes/javascript/demo.js"></script>
